@page "/learnBlazor/bindprop"
@using Models

<h3>Product - Data Binding</h3>

Name: @Product.Name
<br />
IsActive: @Product.IsActive
<br />
Price: @Product.Price
<br />
This Product is: @(Product.IsActive ? "Active" : "Inactive")
<br />
IsActive:
<input type="checkbox" @bind="@Product.IsActive" />
<br />

Input Price:
<input type="number" @bind="@Product.Price" @bind:event="oninput" />
<br />

@code {
    Product Product = new()
    {
        Id = 1,
        Name = "Product 1",
        IsActive = true,
        Price = 5
    };
}
