@page "/learnBlazor/bindprop"

<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground</h3>
        <hr />
        IsActive:
        <input type="checkbox" @bind="@Product.IsActive" />
        <br />

        Input Price:
        <input type="number" @bind="@Product.Price" @bind:event="oninput" />
        <br />
        <br />

        Product Properties:
        <select @bind="selectedProp">
            @foreach (var prop in Product.ProductProperties)
            {
                <option value="@prop.Key">@prop.Key</option>
            }
        </select>
    </div>
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product - Summary</h3>

        Name: @Product.Name
        <br />
        IsActive: @Product.IsActive
        <br />
        Price: @Product.Price
        <br />
        This Product is: @(Product.IsActive ? "Active" : "Inactive")
        <br />

        <br />
        Selected Prop: @selectedProp

        @if (!string.IsNullOrEmpty(selectedProp))
        {
            <p>Selected Value: @Product.ProductProperties.FirstOrDefault(p => p.Key.Equals(selectedProp)).Value</p>
        }
    </div>
</div>

@code {
    private string selectedProp = string.Empty;

    Product Product = new()
    {
        Id = 1,
        Name = "Product 1",
        IsActive = true,
        Price = 5,
        ProductProperties =
        [
            new ProductProp { Id = 1, Key = "Color", Value = "Red" },
            new ProductProp { Id = 2, Key = "Size", Value = "20oz" },
            new ProductProp { Id = 3, Key = "Flavour", Value = "Rose" },
        ]
    };
}
